## Part 1: Input & Data Types

Q1. Ask the user to enter their name and age. Print this format:
Hello Ahsan, you are 25 years old.

In [1]:
# Input name and age
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Print the message
print(f"Hello {name}, you are {age} years old")

Enter your name: Ahsan
Enter your age: 25
Hello Ahsan, you are 25 years old

Q2. Take two numbers from the user and print their: Addition, Subtraction, Multiplication, & Division

Sample Output: Sum: 15, Sub: 5, Mul: 50, Div: 2.5

In [2]:
# Taking 2 input from user
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

# Calculate 2 numbers
addition = num_1 + num_2
subtraction = num_1 - num_2
multiplication = num_1 * num_2
division = num_1 / num_2

#print the masseges
print(f"Sample Output: Sum: {addition}, Sub: {subtraction}, Mul: {multiplication}, Div: {division}")

Enter first number: 12
Enter second number: 22
Sample Output: Sum: 34, Sub: -10, Mul: 264, Div: 0.5454545454545454

Q3. Take 3 numbers in one input line and print the average.
(Hint: Use split() and map())

In [3]:
# Input 3 numbers in 1 line
num_1, num_2, num_3 = map(int, input("Enter 3 numbers by space: ").split())

# Checking average
avg = (num_1 + num_2 + num_3)/3
print(f"Average: {avg}")

Enter 3 numbers by space: 2 4 6
Average: 4.0

## Part 2: Arithmetic Operators

Q4. Write a program that takes a number from the user and prints: Square of the number, Cube of the number.
(Hint: Use **)

In [4]:
# Take input the number
num = int(input("Enter the number: "))

# Square & Cube the number
sqr = num**2
qub = num**3

# print the result
print(f"Square of the number: {sqr}, Cube of the number: {qub}")

Enter the number: 12
Square of the number: 144, Cube of the number: 1728

Q5. Ask the user for a number. Print whether the number is even or odd.
(Hint: Use % operator)

In [5]:
# Take input the number
num = int(input("Enter the number: "))

# Even/odd checking
even = num % 2 == 0
odd = num % 2 == 1

# print the result
if even:
    print(f"{num} is even")
else:
  print(f"{num} is odd")

Enter the number: 22
22 is even

Q6. Start with a variable x = 10.
Use +=, -=, *=, /= to update the value step-by-step and print the result after each update.

In [6]:
# Define variable
x = 10

# Useng assignment operators
x += 5
print(f"x += 5: {x}")

x -= 5
print(f"x -= 5: {x}")

x *= 2
print(f"x *= 2: {x}")

x /= 2
print(f"x /= 2: {x}")

x += 5: 15
x -= 5: 10
x *= 2: 20
x /= 2: 10.0

## Part 4: Comparison Operators

Q7. Ask two ages and check:
Are the ages equal? Is the first age greater? Is the second age less or equal to the first?

Print the results as True/False.

In [7]:
 # Take the input
age_1 = int(input("Enter first age: "))
age_2 = int(input("Enter second age: "))

# Checking the ages
are_equal = age_1 == age_2
is_greater = age_1 > age_2
is_less_equal = age_2 <= age_1

# Print the result
print(f"Are the ages equal? {are_equal}")
print(f"Is the first age greater? {is_greater}")
print(f"Is the second age less or equal to the first? {is_less_equal}")

Enter first age: 26
Enter second age: 28
Are the ages equal? False
Is the first age greater? False
Is the second age less or equal to the first? False

## Part 5: Logical Operators

Q8.
Take a number from the user.
Print "Valid Age" if age is between 18 and 60 (both included).
Otherwise, print "Not Valid Age".
(Hint: Use and)

In [8]:
# Take the input
age = int(input("Enter your age: "))

# Check the valid age
valid_age = age >= 18 and age <= 60

# Print the result
if valid_age:
    print("Valid Age")
else:
    print("Not Valid Age")

Enter your age: 25
Valid Age

Q9. Ask the user: "Are you a student?" and "Do you have an ID card?"
If either answer is "yes", print "Access Granted", else print "Access Denied".
(Hint: Use or)

In [9]:
# Ask question
is_student = input("Are you a student? (yes/no): ")
has_id = input("Do you have an ID card? (yes/no): ")

# Checking the result
if is_student == "yes" or has_id == "yes":
    print("Access Granted")
else:
    print("Access Denied")

Are you a student? (yes/no): yes
Do you have an ID card? (yes/no): yes
Access Granted

## Part 6: Membership & Identity Operators

Q10. Check if the letter "a" exists in the user’s input word.
Print: "Letter found" or "Letter not found".

In [10]:
# Taking word input
check_letter = input("Enter the word: ")

# Checking the letter
if "a" in check_letter:
    print("Letter found")
else:
    print("Letter not found")

Enter the word: Ahsan
Letter found

Q11. Create two lists with the same values and check:
 list1 == list2

list1 is list2
Explain the difference in comments.

In [11]:
# Input 2 list
list1 = [1, 2, 3]
list2 = [1, 2, 3]

# Checking the list
print(f"list1 == list2: {list1 == list2}")
print(f"list1 is list2: {list1 is list2}")

# list1 and list2 are same that's why it says True but when it checking is list1 is in list2 it showed fals because it's not in the same location

list1 == list2: True
list1 is list2: False

Q12. Create a small calculator that takes two numbers and an operator from the user (+, -, *, /) and prints the result.

Example input:
Enter first number: 10
Enter operator: *
Enter second number: 3
Output: 30

In [12]:
# Take first input
num_1 = int(input("Enter first number: "))

# Enter the operators
operator = input("Enter operator: ")

# Now take the second input
num_2 = int(input("Enter second number: "))

# Calculating using operator and print the result
if operator == '+':
    add = num_1 + num_2
    print(f"Output: {add}")
elif operator == '-':
    sub = num_1 - num_2
    print(f"Output: {sub}")
elif operator == '*':
    mul = num_1 * num_2
    print(f"Output: {mul}")
elif operator == '/':
    div = num_1 / num_2
    print(f"Output: {div}")
else:
    print("Invalid operator")

Enter first number: 22
Enter operator: +
Enter second number: 33
Output: 55